.videoPageContainer {
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
}

.channelTitle {
  padding: 25px 150px;
  font-size: 2rem;
}

.videoCarousel {
  position: relative;
}

.vidContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 10px;
  padding: 50px 25px;
}

.vidStyles {
  width: 100%;
  height: 300px;
}

.fightTitle {
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 10px;
}

.backButton {
  position: absolute;
  left: 25px;
  top: 50%;
  border-radius: 100%;
  padding: 15px;
  border: none;
  outline: none;
}

.backButtonArrow {
  transform: rotate(180deg);
}

.nextButton {
  position: absolute;
  right: 25px;
  top: 50%;
  border-radius: 100%;
  padding: 15px;
  border: none;
  outline: none;
}

.btnContainer {
  text-align: center;
}

.loadVideosBtn {
  outline: none;
  font-size: 1.5rem;
  border: none;
  background: red;
  height: 50px;
  width: 200px;
  border-radius: 5%;
}

@media only screen and (max-width: 800px) {
  .vidContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 8px;
  }
}

@media only screen and (max-width: 800px) {
  .vidContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 8px;
  }
}
